/question-corpora
/dataAnalysis/features
/dataAnalysis/featureExtraction/tiger
/dataAnalysis/featureExtraction/lib
/dataAnalysis/featureExtraction/germanet_test_data

__pycache__/
node_modules/
build/
