html,
body,
body > div {
  height: 100vh;
  margin: 0;
  font-size: 85%;
  font-family: "Ubuntu", Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#survey-label {
  padding: 0.2em !important;
}

.app-container {
  padding: 3vh 4vw;
  background-color: #ffffff;
  background-image: url("./45-degree-fabric-dark.png");
  background-repeat: repeat-xy;
}

.header-container {
  margin: 3vh 4vw 0vh 4vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 0.28571429rem;
  background-color: #4d4d4d;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-areas: "box1 box2 box3";
}

.header-container .text-area {
  grid-area: box2;
  vertical-align: middle;
}

.header-container .dropdown-area {
  grid-area: box3;
  text-align: center;
}

.ui.center.aligned.header.header-text {
  color: white;
  margin-bottom: 0;
}

.ui.segments.annotation-container {
  margin: 0vh 4vw 3vh 4vw;
  background-color: white;
  text-align: center;
  padding-bottom: 2em;
}

.ui.segments.student-answer-container {
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2vh;
}

.ui.circular.label.annotation-label {
  border-width: 4px;
  border-style: solid;
  background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0px 0px 0px 100px #ffffff inset !important;
  transition: background-color 5000s ease-in-out 0s;
  background-color: #ffffff !important;
}

.survey-label {
  padding: 0.2em !important;
}

.white-font {
  color: #f2eee2;
}

.ui.mini.icon.button.tree-button {
  background-color: #66ab8c;
  color: #f2eee2;
  margin-left: auto;
  margin-right: 0;
  display: block;
}
